
/* mobile menu */
.btn-mobile{
    display:block;
    position: absolute;
    top:11px;
    right:0;
}
.btn-mobile, .btn-mobile svg{
    width:32px;
    height:32px;
}
.btn-mobile#btn-mobile-menu-close{

    right:12px;
}

.btn-mobile#btn-mobile-menu-close, .btn-mobile#btn-mobile-menu-close svg{
    width:17px;
    height:17px;
}
.btn-mobile#btn-mobile-menu-close .st0{
    stroke:#000;
}

.blind-mobile{
    position:fixed;
    display:none;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,0.5);
    z-index:3;
}
nav.mobile-menu{
    position:fixed;
    top:0;
    bottom:0;
    right:0;
    width: 250px;
    background-color:#faf8f0;
    box-sizing: border-box;
    transform:translateX(100%);
    z-index:3;
    transition: transform .5s;
}

nav.mobile-menu.show{
    transform:translateX(0%);
}
nav.mobile-menu .search-box{
    position: relative;
}
nav.mobile-menu .search-box input{
    border:none;
    outline:none;
    width:100%;
    padding:0;
    padding-right:32px;
    text-align:right;
    background-color:transparent;
    font-size:16px;
    line-height:32px;
    box-sizing:border-box;
}
nav.mobile-menu .btn-search {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 20px;
    width: 20px;
}
nav.mobile-menu .sub-menu{
    display:none;
}
nav.mobile-menu li.active .sub-menu{
    display:block;
}
nav.mobile-menu .transparent{
    display:none;
}

.btn-search-mobile{
    margin-top:7px;
    margin-right:8px;
    width:17px;
    height:18px;
}
.btn-search-mobile svg{
    width:100%;
    height:auto;
}
.menu-main-mobile-menu-container{
    width:100%;
    height:100%;
    overflow-x:hidden;
    overflow-y:auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
}
.menu-main-mobile-menu-container::-webkit-scrollbar{
    display:none;
}
.menu-main-mobile-menu-container>.inner{
    padding:12px 12px 45px 12px;
}
.menu-main-mobile-menu-container li>a{
    font-size:16px;
    line-height:1em;
    color:#000;
}
.menu-main-mobile-menu-container li.active>a{
    font-weight:bold;
}
#menu-main-mobile-menu{
    border-top:solid 1px #000;
    box-sizing:border-box;
}
#menu-main-mobile-menu>li{
    padding-top:8px;
}
#menu-main-mobile-menu>li:last-child{
    border-bottom:solid 1px #000;
    padding-bottom:8px;
}
#menu-main-mobile-menu>li.active{
    border-top:solid 1px #000;
    border-bottom:solid 1px #000;
    padding:8px 0;
    margin-top:8px;
}
#menu-main-mobile-menu>li:first-child.active, #menu-main-mobile-menu>li:first-child.transparent + li.active{
    border-top:none;
    margin-top:0;
}
#menu-main-mobile-menu>li:first-child{
    border-top:none;
}
#menu-main-mobile-menu ul{
    padding-left:20px;
}
#menu-main-mobile-menu ul>li{
    margin-top:8px;
}
.site-menu-mobile{
    display:flex;
    justify-content:space-between;
    top:auto;
    left:12px;
    right:12px;
    bottom:0;
    border-top:solid 1px #000;
    background-color:inherit;
}
body.home .site-menu-mobile{
    display:flex;
}
.site-menu-mobile li{
    font-size:11px;
    line-height:45px;
    margin-left:0;
}
.site-menu-mobile li:first-child{
    margin-left:0;
}
.mobile-bottom-item{
    position: relative;
    border-top:solid 1px #000;
    min-height:32px;

}
.mobile-bottom-item:first-child{
    border-top:none;
}
.mobile-bottom-item-title{
    color:#000;
    font-size:10px;
    font-weight:bold;
    padding:11px 0;
}
.mobile-bottom-item.input-box .input-box-input{
    display:block;
    padding-top:8px;
    width:calc(100% - 40px);
    border-bottom:none;
}
.mobile-bottom-item.input-box.active .input-box-input{
    border-bottom:none;
}
.mobile-bottom-item button[type="submit"] {
    right: 26px;
    top: 9px;
    width: 14px;
    height: 14px;
}
#box-search-mobile:after {
    content: "";
    position: absolute;
    display: block;
    width: 15px;
    height: 16px;
    right: 2px;
    top: 8px;
    background-image: url(../icon/search.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

#box-subscribe-mobile:after {
    content: "";
    position: absolute;
    display: block;
    width: 16px;
    height: 14px;
    right: 1px;
    top: 10px;
    background-image: url(../icon/mail.svg);
    background-size: contain;
    background-repeat: no-repeat;
}


.mobile-bottom .sns-link{
    padding:9px 0 ;
}

.sns-link .btn-icon{
    display:inline-block;
    margin-left:5px;
}
.sns-link .btn-icon:first-child{
    margin-left:0;
}
.sns-link .btn-icon, .sns-link .btn-icon svg{
    width:14px;
    height:14px;
}
.sns-link .btn-icon:nth-child(2), .sns-link .btn-icon:nth-child(2) svg{
    width:7px;
}

.home svg path, .mobile-bottom  svg path{
    fill:#000;
}
nav.mobile-menu .st0 {
    stroke:
            #000;
}

nav.mobile-menu .calendar{
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
}
nav.mobile-menu .calendar>.handle{
    position: relative;
    font-size:16px;
    height:40px;
    padding:12px 12px;
    box-sizing:border-box;
    cursor:pointer;
}
nav.mobile-menu  .calendar>.handle:after {
    content: "";
    display: block;
    position: absolute;
    right: 12px;
    top: 15px;
    height: 9px;
    width: 18px;
    background-image: url(../icon/arrow-up-white.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
nav.mobile-menu  .calendar.active>.handle:after {
    content: "";
    display: block;
    position: absolute;
    right: 12px;
    top: 15px;
    height: 9px;
    width: 18px;
    background-image: url(../icon/arrow-down-black.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
nav.mobile-menu .calendar-month-container{
    padding-bottom:15px;
}
nav.mobile-menu #calendar-inner {
    padding:5px 12px 12px;
}

nav.mobile-menu #calendar .st0{
    stroke:#fff;
}
nav.mobile-menu .calendar th{
    padding-bottom:20px;
}
nav.mobile-menu .calendar td a{
    padding:9px 0;
}


/* site menu */
.site-menu{
    position: fixed;
    display:none;
    top:15px;
    right:20px;
    z-index: 2;
}
.site-menu .disable{
    color:#b3b3b3;
}
body.home .site-menu{
    display:none;
}
.btn-search{
    position:fixed;
    top:30px;
    right:30;
    height:16px;
    display:block;
    margin-left:70px;
}
.btn-search svg{
    height:100%;
    width:auto;
    overflow:visible;
}
.site-menu ul a{
    font-size:11px;
    line-height:1em;
}
.site-menu li{
    margin-top:7px;
}
.site-menu li:first-child{
    margin-top:0;
}
.site-menu.site-menu-mobile a{
    color:#000;
}
.site-menu.site-menu-mobile li{
    display:inline;
    margin-top:0;
}