<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <link rel='stylesheet' id='reset-css' href='../css/reset.css' type='text/css' media='all'/>
    <link rel='stylesheet' id='common-css' href='../css/common.css' type='text/css' media='all'/>








<!-- 불러오는 페이지 스타일들   -->
    <link rel="stylesheet" type="text/css" href="../css/user_header.css"/>
    <link rel="stylesheet" type="text/css" href="../css/user_footer.css"/>
    <link rel="stylesheet" type="text/css" href="../css/sidemenu.css"/>
    <link rel="stylesheet" type="text/css" href="../css/aboutPage.css"/>
    <link rel="stylesheet" id="mapPage-css" href="../css/wayToPicknic.css"/>



    <!-- Script  -->

    <script src="../js/jquery-3.6.0.js"></script>
    <script src="../js/header.js"></script>
    <script src="../js/footer.js"></script>

    <!--  페이지 불러오기 js  -->

<!--    <script src="../js/mapPage.js"></script>-->


    <script src="https://kit.fontawesome.com/2f0c3a79f6.js" crossorigin="anonymous"></script>



    <title>AboutPage</title>

</head>


<body>

<div class="header_container">
    <header id="header"></header>
</div>

<div id="container" class="container">

    <div class="side-menu">
        <ul class="side_list">

            <ul class="menu1">
                <h3 id="side_title">공간소개</h3>

                <a class="list_link" href="exhibit_now.html"><li ><p id="side_list_1" class="side_list_p">카페 피크닉</p></li></a>
                <a class="list_link" href="exhibit_before.html"><li ><p id="side_list_2" class="side_list_p">숍 피크닉</p></li></a>
                <a class="list_link" href="exhibit_now.html"><li ><p id="side_list_3" class="side_list_p">바 피크닉</p></li></a>
                <a class="list_link" href="exhibit_before.html"><li ><p id="side_list_4" class="side_list_p">제로 컴플릭스</p></li></a>
            </ul>

            <a class="list_link" id="li_way"><h3 >오시는 길</h3></a>
            <a class="list_link" id="li_glint"><h3 >GLINT</h3></a>
            <a class="list_link" id="li_faq"><h3 >FAQ</h3></a>
        </ul>

    </div>



    <div class="mainStage">


        <script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>

    </div>



</div>





<!--<footer id="footer"></footer>-->





</body>
</html>