<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">


    <link rel='stylesheet' id='reset-css' href='../css/reset.css' type='text/css' media='all'/>
    <link rel='stylesheet' id='common-css' href='../css/common.css' type='text/css' media='all'/>
    <link rel="stylesheet" type="text/css" href="../css/sidemenu.css">

    <!-- Script  -->

    <script src="../js/jquery-3.6.0.js"></script>
    <script src="../js/sidemenu.js"></script>

    <title>Title</title>

</head>


<body>





</body>
</html>