<!DOCTYPE html>
<html>

    <head>
      <link rel='stylesheet' id='reset-css' href='../css/reset.css' type='text/css' media='all'/>
      <link rel='stylesheet' id='style-css' href='../css/exhibition_before.css' type='text/css' media='all'/>
      <meta charset="utf-8">
      <meta name="viewport" content="width=clevice-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

      <title>Exhibition Before</title>
    </head>

<body>
  <div class="header">
  </div>




  <div id="container" class="container">

    <div class="side-menu">
      <ul class="side_list">
        <h1 id="side_title">exhibition</h1>
        <a class="list_link" href=""><li ><p id="side_lise_1" class="side_list_p">진행 중</p></li></a>
        <a class="list_link" href=""><li ><p id="side_lise_2" class="side_list_p">아카이브</p></li></a>
      </ul>
    </div>

    <div class="col-lg-4 col-sm-5">
      <div class="row item-list">
        <article class="col-lg-2 col-sm-half item">
          <div class="item-thumbnail"><a href="#"><img width="1000" height="500" src="../resources/article_2.png" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" sizes="(max-width: 1000px) 100vw, 1000px" /></a></div>
          <div class="item-title"><div class="text-inner"><a href="#">무성영화극장 Silent Film&#038;Live</a></div></div>
        </article>
        <article class="col-lg-2 col-sm-half item">
          <div class="item-thumbnail"><a href="#"><img width="1000" height="500" src="../resources/article_2.png" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" sizes="(max-width: 1000px) 100vw, 1000px" /></a></div>
          <div class="item-title"><div class="text-inner"><a href="#">무성영화극장 Silent Film&#038;Live</a></div></div>
        </article>
        <article class="col-lg-2 col-sm-half item">
          <div class="item-thumbnail"><a href="#"><img width="1000" height="500" src="../resources/article_3.png" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" sizes="(max-width: 1000px) 100vw, 1000px" /></a></div>
          <div class="item-title"><div class="text-inner"><a href="#">무성영화극장 Silent Film&#038;Live</a></div></div>
        </article>
        <article class="col-lg-2 col-sm-half item">
          <div class="item-thumbnail"><a href="#"><img width="1000" height="500" src="../resources/article_4.png" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" sizes="(max-width: 1000px) 100vw, 1000px" /></a></div>
          <div class="item-title"><div class="text-inner"><a href="#">무성영화극장 Silent Film&#038;Live</a></div></div>
        </article>
        <article class="col-lg-2 col-sm-half item">
          <div class="item-thumbnail"><a href="#"><img width="1000" height="500" src="../resources/article_2.png" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" sizes="(max-width: 1000px) 100vw, 1000px" /></a></div>
          <div class="item-title"><div class="text-inner"><a href="#">무성영화극장 Silent Film&#038;Live</a></div></div>
        </article>
        
      </div>
    </div>
  </div>
</div>
</body>
</html>




