<!DOCTYPE html>

<html>
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=clevice-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

	<title>Picknic</title>

	<link rel="stylesheet" type="text/css" href="../css/mainPage.css">

</head>

<body class="wrap">

	<div>
		<!-- 헤더 영역 -->
	</div>

	<!-- 배경영역 -->
	<div id="container" >
		<!-- 버튼 -->
		<div class="btn_container" >


			<ul>
				<li class="btn_left">
					<button onclick="toggleImg()"> 이전 </button>
				</li>
				<li class="btn_right">
					<button onclick="toggleImg()"> 다음 </button>
				</li>
			</ul>
		</div>

		<div class="slider_title">
			<a class="slider_link" href="https://www.naver.com"><p class="slider_title">Sample title. Here is exhibition for everyone</p></a>
		</div>

	</div>



	<script type="text/javascript" src="../js/mainPage.js"/>
	<div>
		<!-- 푸터 영역 -->
	</div>







</body>
</html>