<meta charset="UTF-8">
    <link rel='stylesheet' id='reset-css' href='../css/reset.css' type='text/css' media='all'/>
    <link rel='stylesheet' id='sidemenu-css' href='../css/sidemenu.css' type='text/css' media='all'/>




<div class="side-menu">
    <ul class="side_list">
        <h1 id="side_title">exhibition</h1>
        <a class="list_link" href="="><li ><p id="side_lise_1" class="side_list_p">진행 중</p></li></a>
        <a class="list_link" href=""><li ><p id="side_lise_2" class="side_list_p">아카이브</p></li></a>
    </ul>
</div>
