<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <!-- css -->
    <link rel="stylesheet" id="reset-css" href="../css/reset.css" type="text/css" media="all"/>
    <link rel="stylesheet" id="common-css" href="../css/common.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="../css/user_cart.css"/>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>


    <!-- script -->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <script src="../js/user_cart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>


    <title>장바구니</title>

</head>
<body>

<!-- 전체 영역-->
<div id="container" class="container">

    <!-- 이너 영역 1-->
    <div class="inner_section1">

        <!-- 회원가입 전체 영역 -->
        <div class="cart_list_section">

            <!--         품목리스트 -->
            <!--            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">-->
            <!--                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">-->
            <!--                    Error-->
            <!--                </a>-->
            <!--                <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">-->
            <!--                    <nav class="sb-sidenav-menu-nested nav">-->
            <!--                        <a class="nav-link" href="401.html">401 Page</a>-->
            <!--                        <a class="nav-link" href="404.html">404 Page</a>-->
            <!--                        <a class="nav-link" href="500.html">500 Page</a>-->
            <!--                    </nav>-->
            <!--                </div>-->
            <!--            </div>-->

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">

                        <div class="cartList_section">
                        <span class="mt-4">Cart list</span>
                        <!-- 장바구니 비우기 -->
                        <button type="submit" class="recyclebin_btn" name="recyclebin_btn" value="장바구니 비우기">장바구니 비우기
                        </button>
                        </div>

                        <!-- 구분선 -->
                        <div class="section_line"></div>

                        <div class="card mb-4">

                            <div class="card-body">

                                <table id="datatablesSimple">
                                    <thead>
                                    <tr>
                                        <th class="select_op">선택</th>
                                        <th>이미지</th>
                                        <th>상품</th>
                                        <th>단가</th>
                                        <th>수량</th>
                                        <th>총가격</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="goods_list"><input type="checkbox" class="list_check" name="check"></td>
                                        <td class="goods_list"><img src="../resources/img1.png" class="list_img"></src></td>
                                        <td class="goods_list" name="goods">magnet</td>
                                        <td class="goods_list" name="g_price">6500원</td>
                                        <td class="goods_list" name="g_amount"><img src="../resources/down_btn.png" class="down_btn">1
                                        <img src="../resources/up_btn.png" class="up_btn"></td>
                                        <td class="goods_list" name="g_totalPrice">6500원</td>
                                        <td class="goods_list"><button class="delete_btn" value="삭제">삭제</button></td>
                                    </tr>
                                    <tr>
                                        <td class="goods_list"><input type="checkbox" class="list_check" name="check"></td>
                                        <td class="goods_list"><img src="../resources/img1.png" class="list_img"></src></td>
                                        <td class="goods_list" name="goods">magnet</td>
                                        <td class="goods_list" name="g_price">6500원</td>
                                        <td class="goods_list" name="g_amount"><img src="../resources/down_btn.png" class="down_btn">1
                                            <img src="../resources/up_btn.png" class="up_btn"></td>
                                        <td class="goods_list" name="g_totalPrice">6500원</td>
                                        <td class="goods_list"><button class="delete_btn" value="삭제">삭제</button></td>
                                    </tr>
                                    <tr>
                                        <td class="goods_list"><input type="checkbox" class="list_check" name="check"></td>
                                        <td class="goods_list"><img src="../resources/img1.png" class="list_img"></src></td>
                                        <td class="goods_list" name="goods">magnet</td>
                                        <td class="goods_list" name="g_price">6500원</td>
                                        <td class="goods_list" name="g_amount"><img src="../resources/down_btn.png" class="down_btn">1
                                            <img src="../resources/up_btn.png" class="up_btn"></td>
                                        <td class="goods_list" name="g_totalPrice">6500원</td>
                                        <td class="goods_list"><button class="delete_btn" value="삭제">삭제</button></td>
                                    </tr>
                                    <tr>
                                        <td class="goods_list"><input type="checkbox" class="list_check" name="check"></td>
                                        <td class="goods_list"><img src="../resources/img1.png" class="list_img"></src></td>
                                        <td class="goods_list" name="goods">magnet</td>
                                        <td class="goods_list" name="g_price">6500원</td>
                                        <td class="goods_list" name="g_amount"><img src="../resources/down_btn.png" class="down_btn">1
                                            <img src="../resources/up_btn.png" class="up_btn"></td>
                                        <td class="goods_list" name="g_totalPrice">6500원</td>
                                        <td class="goods_list"><button class="delete_btn" value="삭제">삭제</button></td>
                                    </tr>
                                    <tr>
                                        <td class="goods_list"><input type="checkbox" class="list_check" name="check"></td>
                                        <td class="goods_list"><img src="../resources/img1.png" class="list_img"></src></td>
                                        <td class="goods_list" name="goods">magnet</td>
                                        <td class="goods_list" name="g_price">6500원</td>
                                        <td class="goods_list" name="g_amount"><img src="../resources/down_btn.png" class="down_btn">1
                                            <img src="../resources/up_btn.png" class="up_btn"></td>
                                        <td class="goods_list" name="g_totalPrice">6500원</td>
                                        <td class="goods_list"><button class="delete_btn" value="삭제">삭제</button></td>
                                    </tr>
                                    <tr>
                                        <td class="goods_list"><input type="checkbox" class="list_check" name="check"></td>
                                        <td class="goods_list"><img src="../resources/img1.png" class="list_img"></src></td>
                                        <td class="goods_list" name="goods">magnet</td>
                                        <td class="goods_list" name="g_price">6500원</td>
                                        <td class="goods_list" name="g_amount"><img src="../resources/down_btn.png" class="down_btn">1
                                            <img src="../resources/up_btn.png" class="up_btn"></td>
                                        <td class="goods_list" name="g_totalPrice">6500원</td>
                                        <td class="goods_list"><button class="delete_btn" value="삭제">삭제</button></td>
                                    </tr>
                                    <tr>
                                        <td class="goods_list"><input type="checkbox" class="list_check" name="check"></td>
                                        <td class="goods_list"><img src="../resources/img1.png" class="list_img"></src></td>
                                        <td class="goods_list" name="goods">magnet</td>
                                        <td class="goods_list" name="g_price">6500원</td>
                                        <td class="goods_list" name="g_amount"><img src="../resources/down_btn.png" class="down_btn">1
                                            <img src="../resources/up_btn.png" class="up_btn"></td>
                                        <td class="goods_list" name="g_totalPrice">6500원</td>
                                        <td class="goods_list"><button class="delete_btn" value="삭제">삭제</button></td>
                                    </tr>
                                    <tr>
                                        <td class="goods_list"><input type="checkbox" class="list_check" name="check"></td>
                                        <td class="goods_list"><img src="../resources/img1.png" class="list_img"></src></td>
                                        <td class="goods_list" name="goods">magnet</td>
                                        <td class="goods_list" name="g_price">6500원</td>
                                        <td class="goods_list" name="g_amount"><img src="../resources/down_btn.png" class="down_btn">1
                                            <img src="../resources/up_btn.png" class="up_btn"></td>
                                        <td class="goods_list" name="g_totalPrice">6500원</td>
                                        <td class="goods_list"><button class="delete_btn" value="삭제">삭제</button></td>
                                    </tr>
                                    <tr>
                                        <td class="goods_list"><input type="checkbox" class="list_check" name="check"></td>
                                        <td class="goods_list"><img src="../resources/img1.png" class="list_img"></src></td>
                                        <td class="goods_list" name="goods">magnet</td>
                                        <td class="goods_list" name="g_price">6500원</td>
                                        <td class="goods_list" name="g_amount"><img src="../resources/down_btn.png" class="down_btn">1
                                            <img src="../resources/up_btn.png" class="up_btn"></td>
                                        <td class="goods_list" name="g_totalPrice">6500원</td>
                                        <td class="goods_list"><button class="delete_btn" value="삭제">삭제</button></td>
                                    </tr>
                                    <tr>
                                        <td class="goods_list"><input type="checkbox" class="list_check" name="check"></td>
                                        <td class="goods_list"><img src="../resources/img1.png" class="list_img"></src></td>
                                        <td class="goods_list" name="goods">magnet</td>
                                        <td class="goods_list" name="g_price">6500원</td>
                                        <td class="goods_list" name="g_amount"><img src="../resources/down_btn.png" class="down_btn">1
                                            <img src="../resources/up_btn.png" class="up_btn"></td>
                                        <td class="goods_list" name="g_totalPrice">6500원</td>
                                        <td class="goods_list"><button class="delete_btn" value="삭제">삭제</button></td>
                                    </tr>
                                    <tr>
                                        <td class="goods_list"><input type="checkbox" class="list_check" name="check"></td>
                                        <td class="goods_list"><img src="../resources/img1.png" class="list_img"></src></td>
                                        <td class="goods_list" name="goods">magnet</td>
                                        <td class="goods_list" name="g_price">6500원</td>
                                        <td class="goods_list" name="g_amount"><img src="../resources/down_btn.png" class="down_btn">1
                                            <img src="../resources/up_btn.png" class="up_btn"></td>
                                        <td class="goods_list" name="g_totalPrice">6500원</td>
                                        <td class="goods_list"><button class="delete_btn" value="삭제">삭제</button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
            </div>

            <div class="section_line1"></div>

            <table id="table_totalValue">

                <thead>
                <tr id="total_title">
                    <th>소계</th>
                    <th>배송비</th>
                    <th>총계</th>
                </tr>
                </thead>

                <tbody>
                <tr id="total_value">
                    <td name="subTotal">15000원</td>
                    <td name="shippingValue">3000원</td>
                    <td name="Total">18000원</td>
                </tr>
                </tbody>
            </table>

            <div class="btn_section">
                <!-- 결제하기 버튼 -->
                <button type="submit" class="payment_submit_btn" name="payment_btn" value="결제하기">결제하기
                </button>
            </div>

            <div class="section_line2"></div>

        </div>
    </div>
</div>
</body>
</html>


</div> <!-- cart_list_section -->

</div>

</div>


</body>
</html>