<meta charset="UTF-8">

<link rel='stylesheet' id='reset-css' href='../css/reset.css' type='text/css' media='all'/>
<link rel='stylesheet' id='common-css' href='../css/common.css' type='text/css' media='all'/>
<link rel="stylesheet" type="text/css" href="../css/user_mypage_sideMenu.css">

<div class="side-menu">
  <ul class="side_list">
    <h1 id="side_title">exhibition</h1>
    <a class="list_link" href="exhibit_mypage.html"><li ><p id="side_list_1" class="side_list_p">MYPAGE</p></li></a>
    <a class="list_link" href="exhibit_order.html"><li ><p id="side_list_2" class="side_list_p">주문</p></li></a>
    <a class="list_link" href="exhibit_address.html"><li ><p id="side_list_3" class="side_list_p">주소</p></li></a>
    <a class="list_link" href="exhibit_info.html"><li ><p id="side_list_4" class="side_list_p">정보</p></li></a>
    <a class="list_link" href="exhibit_logout.html"><li ><p id="side_list_5" class="side_list_p">로그아웃</p></li></a>
  </ul>
</div>

</body>
</html>