<meta charset="UTF-8">

<link rel='stylesheet' id='reset-css' href='../css/reset.css' type='text/css' media='all'/>
<link rel='stylesheet' id='common-css' href='../css/common.css' type='text/css' media='all'/>
<link rel="stylesheet" type="text/css" href="../css/user_about_placeform.css"/>

<script src="../js/jquery-3.6.0.js"></script>

<div class="place_container">

    <div class="img_slide">
        <img id="back" class="btn_direction" src="" width="100">
        <ul>
            <li class="list_img" id="list_img_01">
                <img class="img_source" id="place_cafe" src="../resources/cafe.png" width="1000" height="600">
            </li>
            <li class="list_img" id="list_img_02">
                <img class="img_source" id="place_bar" src="../resources/bar.png" width="1000" height="600">
            </li>
            <li class="list_img" id="list_img_03">
                <img class="img_source" id="place_shop" src="../resources/bar.png" width="1000" height="600">
            </li>
            <li class="list_img" id="list_img_04">
                <img class="img_source" id="place_special" src="../resources/bar.png" width="1000" height="600">
            </li>
        </ul>
        <img id="next" class="btn_direction" src="" width="100">



    </div>

    <div class="place_info" id="info_01">
        <div class="info_box">
            <div class="place_name"> 투진 카페 </div>

            <ul>
                <li class="place_details">
                    <span class="head_details">시간</span>
                    <span class="tail_details">16:00 ~ 22:00</span>
                </li>

                <li class="place_details">
                    <span class="head_details">주문 마감</span>
                    <span class="tail_details">21:00</span>
                </li>

                <li class="place_details">
                    <span class="head_details">문의</span>
                    <span class="tail_details"> 010 - 1234 - 5678</span>
                </li>
            </ul>
        </div>


        <div class="place_descript">
            <div class="place_number"> 1/4 </div>
            <span> 벨기에 아티스트 마르셀 브로타에스의 1074년 작품,
         Un Jardin d'Hiven 와 디자이너 드리스 반 노튼의 패션쇼 공간 테마를
        응용해, 다이닝룸과 윈터 가든을 이 공간에 재현하고자 했습니다.
        카페 피크닉에서는 밀도 높은 커피를 중심으로 계절에 따라 새로운 메뉴들을
        선보이며, 가볍게 즐길 수 있는 하우스 와인 또한 제공하고 있습니다
            </span>
        </div>

    </div>

    <div class="place_info" id="info_02">
        <div class="info_box">
            <div class="place_name"> 투진 바 </div>
            <ul>
                <li class="place_details">
                    <span class="head_details">시간</span>
                    <span class="tail_details"></span>
                </li>

                <li class="place_details">
                    <span class="head_details">주문 마감</span>
                    <span class="tail_details"></span>
                </li>

                <li class="place_details">
                    <span class="head_details">예약 문의</span>
                    <span class="tail_details"></span>
                </li>
            </ul>
        </div>

        <div class="place_descript">
            <div class="place_number"> 1/4 </div>
            <span> 벨기에 아티스트 마르셀 브로타에스의 1074년 작품,
         Un Jardin d'Hiven 와 디자이너 드리스 반 노튼의 패션쇼 공간 테마를
        응용해, 다이닝룸과 윈터 가든을 이 공간에 재현하고자 했습니다.
        카페 피크닉에서는 밀도 높은 커피를 중심으로 계절에 따라 새로운 메뉴들을
        선보이며, 가볍게 즐길 수 있는 하우스 와인 또한 제공하고 있습니다
            </span>
        </div>

    </div>

    <div class="place_info" id="info_03">
        <div class="info_box">
            <div class="place_name"> 투진 샵 </div>
            <ul>
                <li class="place_details">
                    <span class="head_details">시간</span>
                    <span class="tail_details"></span>
                </li>

                <li class="place_details">
                    <span class="head_details">예약</span>
                    <span class="tail_details"></span>
                </li>
            </ul>
        </div>

        <div class="place_descript">
            <div class="place_number"> 1/4 </div>
            <span> 벨기에 아티스트 마르셀 브로타에스의 1074년 작품,
         Un Jardin d'Hiven 와 디자이너 드리스 반 노튼의 패션쇼 공간 테마를
        응용해, 다이닝룸과 윈터 가든을 이 공간에 재현하고자 했습니다.
        카페 피크닉에서는 밀도 높은 커피를 중심으로 계절에 따라 새로운 메뉴들을
        선보이며, 가볍게 즐길 수 있는 하우스 와인 또한 제공하고 있습니다
            </span>
        </div>

    </div>


    <div class="place_info" id="info_04">
        <div class="info_box">
            <div class="place_name"> 투진 special </div>
            <ul>
                <li class="place_details">
                    <span class="head_details">시간</span>
                    <span class="tail_details"></span>
                </li>

                <li class="place_details">
                    <span class="head_details">주문 마감</span>
                    <span class="tail_details"></span>
                </li>

                <li class="place_details">
                    <span class="head_details">문의</span>
                    <span class="tail_details"></span>
                </li>
            </ul>
        </div>

        <div class="place_descript">
            <div class="place_number"> 1/4 </div>
            <span> 벨기에 아티스트 마르셀 브로타에스의 1074년 작품,
         Un Jardin d'Hiven 와 디자이너 드리스 반 노튼의 패션쇼 공간 테마를
        응용해, 다이닝룸과 윈터 가든을 이 공간에 재현하고자 했습니다.
        카페 피크닉에서는 밀도 높은 커피를 중심으로 계절에 따라 새로운 메뉴들을
        선보이며, 가볍게 즐길 수 있는 하우스 와인 또한 제공하고 있습니다
            </span>
        </div>

    </div>



</div>

<script type="text/javascript">
    $(document).ready(function () {
        var imgs;
        var img_count;
        var img_position=1;
        var id_number=1;
        var container = $("info_0"+id_number);

        imgs = $(".img_slide ul");
        img_count = imgs.children().length;



    //    버튼을 클릭했을 때 함수 발생

        $('#back').click(function () {
            back();
        });

        $('#next').click(function () {
            next();
        });

        function back() {

            if (1 < img_position) {
                imgs.animate({
                    left:'+=1000px'
                });
                container.style.display("none");
                id_number--;
                container.style.display("flex")

                img_position--;
            }
        }

        function next(){


            if (img_count > img_position) {
                imgs.animate({
                    left:'-=1000px'
                });
                container.style.display("none");
                id_number++;
                container.style.display("flex")


                img_position++;
            }

            switch (slide_number) {

                case 1/4:


            }



        }
    });
</script>
