<meta charset="UTF-8">

<link rel='stylesheet' id='reset-css' href='../css/reset.css' type='text/css' media='all'/>
<link rel='stylesheet' id='common-css' href='../css/common.css' type='text/css' media='all'/>
<link rel="stylesheet" type="text/css" href="../css/user_place_form.css"/>

<div class="place_container">

    <div class="place_img">
        <ul>
            <li class="list_img" id="place_img01">
                <img src="">
            </li>
            <li class="list_img" id="place_img02">
                <img src="">
            </li>
            <li class="list_img" id="place_img03">
                <img src="">
            </li>
            <li class="list_img" id="place_img04">
                <img src="">
            </li>
        </ul>
    </div>

    <div class="place_info" id="info_01">
        <div class="place_name"> 투진 카페 </div>
        <ul>
            <li class="place_details">
                <span class="head_details">시간</span>
                <span class="tail_details"></span>
            </li>

            <li class="place_details">
                <span class="head_details">주문 마감</span>
                <span class="tail_details"></span>
            </li>

            <li class="place_details">
                <span class="head_details">문의</span>
                <span class="tail_details"></span>
            </li>
        </ul>
    </div>

    <div class="place_info" id="info_02">
        <div class="place_name"> 투진 바 </div>
        <ul>
            <li class="place_details">
                <span class="head_details">시간</span>
                <span class="tail_details"></span>
            </li>

            <li class="place_details">
                <span class="head_details">주문 마감</span>
                <span class="tail_details"></span>
            </li>

            <li class="place_details">
                <span class="head_details">예약 문의</span>
                <span class="tail_details"></span>
            </li>
        </ul>
    </div>

    <div class="place_info" id="info_03">
        <div class="place_name"> 투진 숍 </div>

        <ul>
            <li class="place_details">
                <span class="head_details">시간</span>
                <span class="tail_details"></span>
            </li>

            <li class="place_details">
                <span class="head_details">예약</span>
                <span class="tail_details"></span>
            </li>
        </ul>
    </div>


    <div class="place_info" id="info_04">
        <div class="place_name"> 투진 플렉스 </div>
        <ul>
            <li class="place_details">
                <span class="head_details">시간</span>
                <span class="tail_details"></span>
            </li>

            <li class="place_details">
                <span class="head_details">주문 마감</span>
                <span class="tail_details"></span>
            </li>

            <li class="place_details">
                <span class="head_details">문의</span>
                <span class="tail_details"></span>
            </li>
        </ul>
    </div>


    <div class="place_descript">


    </div>





</div>
