<link rel="stylesheet" href="../css/user_footer.css"/>
<script src="https://kit.fontawesome.com/2f0c3a79f6.js" crossorigin="anonymous"></script>
<script href="../js/common.js" rel="stylesheet"></script>
<meta charset="utf-8">

<footer>

    <!-- 전체 푸터 -->
    <div class="outer_footer">

        <!--  내용들어갈 컨테이너 박스 :양쪽 마진 주기 -->
        <div class="inner_footer">

            <!-- 하단 전체 아이콘 영역으로 div잡음  -->
            <!-- <div class="inner_footer_bottom"> -->

            <!--Follow us 전체 영역 -->
            <div class="right_section">

                <!-- 텍스트 영역 -->
                <div id="follow_us">FOLLOW US</div>

                <!-- sns아이콘 전체 영역 -->
                <div class="sns_link">
                    <!-- 인스타그램 링크 아이콘 -->
                    <a class="btn-icon1" href=https://instagram.com/picknic.kr target="_blank">
						<i class="fa-brands fa-instagram"></i></a>
                        <!-- 페이스북 링크 아이콘 -->
                        <a class="btn-icon2" href=https://facebook.com/picknic.kr target="_blank">
                            <i class="fa-brands fa-facebook-square"></i></a>
                </div> <!-- sns_link -->

            </div> <!-- right_section -->

        </div> <!-- inner_footer_bottom -->


        <!-- 가로로 두개 영역 쌓고,
             세로로 두개 영역 배치 시작
             left(공백) middle(정보란) right(비워두기)-->


        <!-- 회사 정보 텍스트 영역  -->
        <address>
            <div class="text_inner">
                <a href="http://piknic.kr/terms-of-purchase">이용약관</a> | <a href="http://piknic.kr/privacy-policy/">개인정보
                보호정책</a><br>
                주식회사 twojin (대표 twojin) | 서울 중구 퇴계로6가길 30 | 02-318-3233 | info@twojin.kr<br>
                사업자등록번호 105-87-74827 | 통신판매업신고번호 제2018-서울중구-0749호
            </div> <!-- text_inner -->
        </address>
    </div> <!-- text_inner -->

    </div> <!-- container -->
    </div> <!-- outer_footer -->
</footer>