<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel='stylesheet' id='reset-css' href='../css/reset.css' type='text/css' media='all'/>
    <link rel='stylesheet' id='common-css' href='../css/common.css' type='text/css' media='all'/>
    <link rel="stylesheet" type="text/css" href="../css/user_mypage_order.css">

    <title>mypage</title>
</head>
<body>

<!-- 전체 영역-->
<div id="container" class="container">
    <!-- 이너 영역 1-->
    <div class="inner_section1">
        <!-- 주문내역 전체 영역 -->
        <div class="order_list">

            <span class="no_order_list">아직 주문내역이 없습니다.</span>

            <button type="submit" class="submit_shop_view" href="../shop.html"
                    name="shop_view" value="둘러보기">둘러보기</button>

            <div class="section_line"></div>

        </div> <!-- order_list -->
    </div> <!--inner_section1 -->
</div> <!-- container -->

</body>
</html>