
<meta charset="UTF-8">

<link rel='stylesheet' id='reset-css' href='../css/reset.css' type='text/css' media='all'/>
<link rel='stylesheet' id='common-css' href='../css/common.css' type='text/css' media='all'/>
<link rel="stylesheet" type="text/css" href="../css/sidemenu.css">



<div class="faq_container">

    <ul class="faq_categori">

        <div class="categori_title">방문안내</div>

        <li class="faq_list">
            <div class="faq_question">공간별 운영 시간이 궁금해요</div>
            <div class="fae_answer"></div>
        </li>

        <li class="faq_list">
            <div class="faq_question">가까운 지하철역이 어딘가요?</div>
            <div class="fae_answer"></div>
        </li>

        <li class="faq_list">
            <div class="faq_question">어머님이 누군가요?</div>
            <div class="fae_answer"></div>
        </li>

    </ul>

    <ul class="faq_categori">

        <div class="categori_title"> 전시 관람 </div>

        <li class="faq_list">
            <div class="faq_question">티켓 예매는 어떻게 해야 하나요?</div>
            <div class="fae_answer"></div>
        </li>

        <li class="faq_list">
            <div class="faq_question">전시장 내 반입 제한되는 물품이 있나요?</div>
            <div class="fae_answer"></div>
        </li>

        <li class="faq_list">
            <div class="faq_question">유퀴즈?</div>
            <div class="fae_answer">유퀴즈</div>
        </li>
    </ul>


</div>