<link rel="stylesheet" href="../css/user_header.css"/> 

<meta charset="utf-8">

<header>
	<div class="outer_header">

		<div class="inner_header">
		
		<!--  위쪽 공백 영역  -->
		<div class="top_space">

		<!-- 로고 부분 -->
		<h1 class="logo">로고 이미지</h1>

		<!-- 버튼 전체 영역 -->
		<div class="button_section">
		<!-- 각 버튼의 링크 -->
		<a href="#login">LOGIN</a>
		<a href="#mypage">MYPAGE</a>
		<a href="#cart">CART</a>
		
		<!-- 캘린더 영역 -->
		<div class="calendar" data-link="http://piknic.kr/schedule/">
			<!-- 캘린더상단 영역 -->
			<div class="handle">
				<!-- 캘린더 날짜표시 영역 -->
				<span id="calendar-date" class="calendar-date">2022.4.14 THU</span>
				<!-- 캘린더 메뉴탭 오픈시 상단 '닫기' 버튼 영역 -->
				<span class="close">CLOSE</span>
			</div>

			<!-- 캘린더 -->
			<!-- /캘린더 -->

			<!-- 메뉴탭 상단 빈 공간 영역  -->
			<div class="menu_space">
				<!-- 메뉴 전체 영역 -->
				<ul id="menu_section" class="menu">
					<!-- 메뉴 탭 앞쪽 빈 공간 -->
					<li id="menu_space" class="transparent disable menu-item menu-item-type-post_type menu-item-object-page menu-item-173">
					<a href="http://piknic.kr/ticket/">ticket</a></li>
					
					<!-- exhibition info -->
					<!-- 날짜선택, 진행중전시, 완료전시 / 구매,찜 -->
					<li id="menu_exhibition" class="menu-item menu-item-type-taxonomy menu-item-object-exhibition-category menu-item-98">
					<a href="http://piknic.kr/exhibition-category/current/">exhibition</a></li>

					<!-- hall info -->
					<!-- 오시는길, 내부시설정보, FAQ  -->
					<li id="menu_about" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-130"><a href="http://piknic.kr/about-piknic/piknic/">about picknic</a></li>

					<!-- shop -->
					<!-- 상품목록조회, 상품구매, 장바구니(찜) -->
					<li id="menu_shop" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-2063"><a href="http://piknic.kr/product-category/shop/">shop</a></li>
					
					<!-- 대관(rental) -->
					<!-- 대관 날짜, 시간, 홀  -->
					<li id="menu_program" class="menu-item menu-item-type-taxonomy menu-item-object-program-category menu-item-99"><a href="http://piknic.kr/program-category/current/">rental</a></li>
					
					
					
				</ul>
			</div> <!--menu_space-->

		</div> <!--button_section-->
		</div> <!--top_space-->
		</div> <!--inner-->
	</div> <!--outer-->
</header>


