@media screen and (max-width:1200px){

}

.container{
    display: flex;
    font-family: 'Univers', 'Noto Sans KR', sans-serif
}

.inner_section1{

    display:flex;
    width:100%;
    height: 500px;
    flex-direction: column;
}


/****** 로그인 박스 전체 영역 *****/
#login-box{
    margin: auto;
    max-width: 440px;
}

/* LOGIN문구 */
#login_title{
    font-size: 13pt;
    margin-top: 8%;
    text-align: center;
}

/* 로그인 박스 영역 (계정생성 영역 전까지) */
.loginbox_All{

    margin-top: 13%;
    margin-bottom: 8%;
    height: 230px;
}



.required{
    display: none;
}

.input_id, .input_pw {

    width:100%;
    margin-top: 7px;
    background: transparent;
    border: none;
    border-bottom: solid 1px #000;

}

.password_section {
    margin-top: 15px;
}

/* 기억하기 박스 영역 */
.form-row_checkbox {
    margin-top: 17px;
    height: 40px;
}

/* 체크박스 */
.checkbox_section {
    margin-top: 15px;

    border-radius: 30%
    /* 안먹음 */
}

.login_submit_btn {

    width: 70px;
    padding: 4px;
    float:right;
    background-color: black;
    color:white;
    margin-top: 15px

}

/* 에러메세지 영역 */
.notices-section {
    margin: 10%;
}

/* text 에러메세지 */
.error{
    margin-bottom: 15px ;
}

.error > li > strong {
    font-size: 11pt;
}

/* 구분선 영역 */
.section_line{

    border-bottom: 2px solid  black;
    /*#7AB1E8;*/
}

/* 계정생성 영역 */
.create_section{
    margin-top: 7%;
}

.create_section > li {
    margin-bottom: 18px;
    font-size: 13pt;
}

.create_section > li :hover {
    color:burlywood;
}



/*!*아이디 또는 이메일주소 부분 영역*!*/
/*.woocommerce #login-box form .form-row {*/
/*    padding:0;*/
/*    margin-bottom:15px;*/
/*}*/
/*.woocommerce form .form-row {*/
/*    margin-top: 20px !important;*/
/*}*/

/*!*아이디 또는 이메일 주소 label*!*/
/*.woocommerce #login-box form .form-row label {*/
/*    line-height: 1;*/
/*}*/
/*.woocommerce form .form-row label, .woocommerce-page form .form-row label {*/
/*     display: block;*/
/*}*/
/*.woocommerce #login-box form .form-row label {*/
/*    line-height: 1;*/
/*}*/

/*.woocommerce form .form-row .required {*/
/*    visibility: visible;*/
/*}*/
/*.woocommerce-form-row--wide span {*/
/*    font-size: 10px;*/
/*}*/

/*!*input박스 *!*/
/*.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {*/
/*    background: transparent;*/
/*    border: none;*/
/*    width:100%;*/
/*    border-bottom: solid 1px #000;*/
/*    !*height: 35px;*!*/
/*    !*line-height: 35px;*!*/
/*}*/
/*.woocommerce form .password-input input[type=password], .woocommerce-page form .password-input input[type=password] {*/
/*    padding-right: 2.5rem;*/
/*}*/

/*.woocommerce form .form-row::after, .woocommerce-page form .form-row::after {*/
/*    clear: both;*/
/*}*/


/*!*'비밀번호를 잊어버리셨나요?*!*/
/*.woocommerce form .form-row::after, .woocommerce form .form-row::before, .woocommerce-page form .form-row::after, .woocommerce-page form .form-row::before {*/
/*    content: ' ';*/
/*    display: table;*/
/*}*/
/*.woocommerce form .form-row::after, .woocommerce-page form .form-row::after {*/
/*    clear: both;*/
/*}*/
/*.woocommerce form .form-row::after, .woocommerce form .form-row::before, .woocommerce-page form .form-row::after, .woocommerce-page form .form-row::before {*/
/*    content: ' ';*/
/*    display: table;*/
/*}*/
/*#login-box .woocommerce-form-login .woocommerce-form-login__rememberme {*/
/*    display: block;*/
/*}*/


/*!* 버튼 *!*/
/*  button {*/
/*    float:right;*/
/*    appearance: auto;*/
/*    writing-mode: horizontal-tb !important;*/
/*    width:58px;*/
/*    height:25px;*/
/*    font-size: 10px;*/
/*    font-family: 'Univers', 'Noto Sans KR', sans-serif;*/
/*    text-rendering: auto;*/
/*    color: white;*/
/*    background-color: black;*/
/*    letter-spacing: normal;*/
/*    word-spacing: normal;*/
/*    line-height: normal;*/
/*    text-transform: none;*/
/*    text-indent: 0px;*/
/*    text-shadow: none;*/
/*    display: inline-block;*/
/*    text-align: center;*/
/*    align-items: flex-start;*/
/*    cursor: pointer;*/
/*    box-sizing: border-box;*/
/*    margin:0em;*/
/*    padding: 1px 8px;*/
/*    border-width: 1px;*/
/*    border-style: outset;*/
/*    border-image: initial;*/
/*}*/
