
/* 서브메뉴 스타일 변경*/



.list_link{
    font-weight: normal;
}

#li_way{
    font-weight: bold;
}

/* 본문 내용 설정  */

.stage_box{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.stage_box >div {
    display: block;
}

.mapContainer{
    width: 100%;
}

.map_description {
    width: 100%;
}

#descript_title {
    font-size: 1.2rem;
    font-weight: bolder;
    border-bottom: 2px solid black;
    padding-bottom: 10px ;
}

#descript_section_01 {
    padding: 10px 0 10px 0;
    margin-bottom: 10px;
}

#descript_section_01 > * {
    margin-bottom: 10px;
}

.address_section >li {
    margin-bottom: 10px;
}

.address_section >li >div {
    margin-bottom: 30px;
}

.descript_content {
    text-decoration: underline black;
}


@media screen and (min-width: 768px){



    .stage_box{
        display: flex;
        flex-direction: row;
    }

    .stage_box >div {
        display: inline-block;
    }

    .mapContainer{
        width: 50%;
        margin: 10px 20px 10px 20px;
    }

    .map_description {
        width: 50%;
    }
}











