*{
    margin: 0; padding: 0;
    text-decoration: none;
}

.container{
    max-width: 1450px;
    max-height: 1450px;
}

.wrap{
    display: flex;
    width: 1200px;
    height: 1200px;
}

ul , li{
    list-style: none; list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}