
body{
    background-color:#faf8f0;
    font-family: 'Univers', 'Noto Sans KR', sans-serif;
    padding-top:54px;
    overflow-x: hidden;;
}

.container {
    display: flex;
}



.side-menu{

    display: none;
    left: 20px;
}


.box_img{
    width: 100%;
    background-size: cover;
}


.side_list > p{
    font-size: 2.0rem;
    font-weight: bolder;
    margin-bottom: 15px;
}

.list_link > li > p {

}

.side_list_1 {
    font-size: 1.7rem;
    font-weight: bold;
}

.journal_img{
    width: 100%;
}


.exhibit_info{
    display: flex;
    position: relative;
}

/*중요 정보*/
.info_head{
    width: 50%;
    margin-top: 10px;
}


    .head_title{
        height: 30%;
        margin-bottom: 50px;
    }


    .p_title {

        font-size: 1.2rem;
        font-weight: bolder;
    }

    .p_limit{
        font-size: 1.2rem;
        font-weight: bold;
    }


/*  내용  */
.info_foot{
    width: 50%;
    margin: 10px 10px 10px 5px;
}

.description > p{
        text-indent: 20px;
        max-height: 300px;
        font-size: 1.5rem;
        line-height: 2rem;
        overflow: scroll;
        overflow-x: hidden;
}

#list_link_1{
    font-size: 1.5rem;
    font-weight: bold;
}



    .exhibit_info{
        flex-direction: column;
    }
    .info_head{
        position: relative;
        top: 0;
        width: 100%;
    }

    .info_foot{
        width: 100%;
    }

    .side-menu{
        display: none;
    }

    .info_head{
        border-bottom: 1px solid black;
    }


    .head_title{
        width: 100%;
    }


    .head_limit{
        display: inline-block;
    }


    .head_book{
        display: inline-block;;
        margin-left: 50px;
    }

    .head_book>a{
        font-size: 1.5rem;
        color: deepskyblue;
    }

@media screen and (min-width: 768px){

    body{
        padding-top:70px;
    }
    /* layout */

    .container{
        width:auto;
        margin:0 18px;
    }


    .exhibit_info{
        flex-direction: row;
    }
    .head_title{
        border: none;
    }



}

@media screen and (min-width: 1200px){
    body{
        padding-top: 90px;
    }

    /* layout */
    .container{
        width:1120px;
        margin:0 auto;
    }
}
