

.categori {
    font-size: 2rem;
    font-weight: bolder;
}

.cate_father{
    margin-bottom: 40px;
}

.cate_all>li{
    margin-bottom: 10px;
}

.cate_all>li>p{
    font-weight: bold;
    text-indent: 10px;
}

.categori_li {
    text-indent: 20px;
}

.categori_li > li{
    margin-bottom: 10px;
}

.price{
    margin-top: 10px;
}

