/*px 말고 %로 설정하기*/
/*모바일(기본)*/

/****************** mobile css *******************/

/* 메인 화면 전체 영역 */
.m_outer_header {
    display: flex;
    width: 96%;
    margin-left: 2%;
    height: 9px;
    background-color: #faf8f0;
    position: sticky;
}

/* 메인 화면 내부 영역 */
.m_inner_header {
    background-color: #faf8f0;
    width: 100%;
    height: 1px;
    position: relative;
    border-bottom: 1.5px solid black;
    display: flex;
    align-items: center;
}

.m_inner_section1 {
    background-color: #faf8f0;
    width: 100%;
    height: 1px;
    position: relative;
    display: flex;
    align-items: center;
}

.m_inner_section2 {
    background-color: #faf8f0;
    width: 100%;
    height: 1px;
    margin-bottom: 61px;
    position: relative;
    display: flex;
}

.m_logo {
    font-size: 2rem;
    margin-top: -50px;
    margin-left: 1px;
}

.m_a_tag {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

/*스크롤바*/
.m_toggle_menu::-webkit-scrollbar {
    display: none;
}

/*토글 버튼*/
.m_toggle_button {
    margin-left: 65%;
    margin-top: -45px;
}

/*토글 아이콘*/
.m_toggle_button i {
    font-size: 1rem;
}

.menubar.on {
    right: 0;
}


/******토글 화면 영역*******/
/* 토글 메뉴*/
.m_toggle_menu {
    display: flex;
    flex-direction: column;
    background-color: linen;
    width: 50%;
    height: 100%;
    position: fixed;
    top: -7px;
    left: 50%;
    right: 0;
    overflow: auto;
    padding: 15px 5px 5px 5px;
    transition: left .3s ease-in-out;
}

/* 토글 top  */
.m_top_login_section {
    margin-bottom: 25px;
}

/*로그인 영역 */
.m_top_login {
    width: 70%;
    height: 20px;
}

#m_login_button, #m_mypage_button {
    font-size: 8pt;
    margin-right: 9%;
}

#m_cart_button {
    font-size: 8pt;
}

.x {
    margin-left: 81%;
    margin-top: -20px;
    font-size: 1.3rem;
}

/* 토글 middle */
.m_middle_list_section {
    border-top: 1px solid black;
    width: 90%;
    height: 0;
}

#m_menu_exhibition {
    margin-top: 15px;
}

#m_menu_shop {
    margin-top: 15px;
}

#m_menu_rental {
    margin-top: 15px;
}

#m_menu_about {
    margin-top: 15px;
}

/* 토글 middle2 */
.m_middle_icon_section {
    border-top: 1px solid black;
    width: 91%;
    height: 11%;
    margin-top: 150px;
}

/* 텍스트 */
#m_follow_us {
    font-size: 7pt;
    margin-top: 18px;
    display: flex;
}

/* 아이콘 */
.m_sns_link {
    margin-top: -16px;
    margin-left: 75%;
    width: 50%;
}

/* 아이콘 버튼1 */
.m_btn-icon1 {
    color: black;
}

/* 아이콘 버튼2 */
.m_btn-icon2 {
    color: black;
    margin-left: 13%;
}

/*  토글 bottom */
.m_calendar_section {
    position: relative;
    width: 100%;
    height: 20%;
    float: bottom;
}

/*캘린더 div*/
.m_handle {
    position: absolute;
    background-color: lightsteelblue;
    height: 52px;
    line-height: 40px;
    color: white;
    bottom: 0;
    right: 0;
    left: 0;
}

/*캘린더 텍스트*/
#m_calendar-date {
    margin-left: 8px;
}

/*캘린더 'open'*/
.open {
    float: right;
    margin-top: 10px;
    margin-right: 15%;
}

/*캘린더 'close'*/
.m_close {
    /*margin-left: 20%;*/
}

/* mobile pc common css */
li {
    list-style-type: none;
    float: left;
    margin-left: 1px;
}


/*pc(1200이상 일때 화면 셋팅)*/
@media screen and(min-width:1200px) {
    .m_outer_header {display:none;}  /*모바일 화면 숨기기*/

    /******************** pc css ********************/
    /* 전체 */
    .outer_header{
        display: flex;
        width: 100%;
        height: 90px;
        background-color: white;
        position: sticky;
    }

    /* 이너블록 */
    .inner_header {
        background-color: #faf8f0;
        width:80%;
        height: 100px;
        position: relative;
        margin-left: 10%;
        border-bottom: 1.5px solid black;
        display: flex;
        align-items: center;
    }

    .inner_section1{
        background-color: #faf8f0;
        width:61%;
        height:50%;
        position: relative;
        display: flex;
        align-items: center;
    }

    .inner_section2{
        background-color: #faf8f0;
        width:40%;
        height:38%;
        margin-bottom:61px;
        position: relative;
        display: flex;
        /*align-items: center;*/
    }

    .logo{
        font-size:2.5rem;
        margin-top:50px;
    }

    .a_tag {
        text-decoration: none;
        color: black;
    }

    #menu_button{
        /*background-color: darkgreen;*/
        position: absolute;
        width: 160%;
        height: 40%;
        margin-top: 12%;

    }

    #menu_exhibition{
        margin-left:17%;
        margin-right:15%;
    }

    #menu_shop{
        margin-right:15%;
    }

    #menu_about{
        background-color: white;
        margin-right:6%;
        float:right;
    }

    /*1rem : 16px */
    .user_button{
        display: inline-block;
        width: 45%;
        height: 90%;
        margin-bottom:20px;
        text-align: center;
        font-size:10px;
        line-height: 55px;
    }

    #login_button  {
        margin-right:45px;
    }

    #mypage_button {
        margin-right:45px;
    }

    #cart_button{
        margin-right:10px;
    }

    .calendar{
        background-color: darkorange;
        display: inline-block;
        margin-left: 5%;
        width:50%;
        height: 100%;
        margin-bottom:45px;
        text-align: center;
        color:white;
        font-size:12px;
    }

    #calendar-date{
        line-height: 40px;
    }

    /*캘린더 열림 아이콘*/
    .close{
        margin-left:20%;
    }

    /* mobile pc common css */
    li {
        list-style-type: none;
        float: left;
        margin-left: 1px;
    }
}

