/*px 말고 %로 설정하기*/

/* 전체 */
.outer_header{
    display: flex;
	width: 100%;
    height: 90px;
	background-color: white;
	position: sticky;
}

/* 이너블록 */
.inner_header {
    background-color: #faf8f0;
	width:80%;
    height: 100px;
	position: relative;
	margin-left: 10%;
    border-bottom: 1.5px solid black;
    display: flex;
    align-items: center;

}

.inner_section1{
    background-color: #faf8f0;
	width:61%;
	height:50%; 
	position: relative;
    display: flex;
    align-items: center;
}

.inner_section2{
    background-color: #faf8f0;
	width:40%;
	height:38%;
    margin-bottom:61px;
	position: relative;
    display: flex;
    /*align-items: center;*/
}

.logo{
    font-size:2.5rem;
    margin-top:50px;
}

.a_tag {
    text-decoration: none;
    color: black;
}

#menu_button{
    /*background-color: darkgreen;*/
    position: absolute;
    width: 160%;
    height: 40%;
    margin-top: 12%;

}

#menu_exhibition{
    margin-left:17%;
    margin-right:15%;
}

#menu_shop{
    margin-right:15%;
}



#menu_about{
    background-color: white;
    margin-right:6%;
    float:right;
}

/*1rem : 16px */
.user_button{
    display: inline-block;
    width: 45%;
    height: 90%;
    margin-bottom:20px;
    text-align: center;
    font-size:10px;
    line-height: 55px;
}

#login_button  {
    margin-right:45px;
}

#mypage_button {
    margin-right:45px;
}

#cart_button{
    margin-right:10px;
}


.calendar{
    background-color: darkorange;
    display: inline-block;
    margin-left: 5%;
    width:50%;
    height: 100%;
    margin-bottom:45px;
    text-align: center;
    color:white;
    font-size:12px;
}

#calendar-date{
    line-height: 40px;
}

/*캘린더 열림 아이콘*/
.close{
    margin-left:20%;
}


li{
    list-style-type:none;
    float:left;
    margin-left: 30px;
}

@media screen and (max-width: 1450px) {
   #menu_button {display:none;}
   .user_button {display:none;}
   .calendar {display:none;}
}

@media screen and (min-width: 768px ){

}