<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" id="reset-css" href="../../css/reset.css" type="text/css" media="all"/>
    <link rel="stylesheet" id="common-css" href="../../css/common.css" type="text/css" media="all"/>
    <link rel="stylesheet" type="text/css" href="../../css/imsi/user_login_join.css"/>

    <title>Title</title>
</head>
<body>

<!-- 전체 영역-->


    <div class="col-lg-5">
        <!-- 이너 영역 -->
        <div id="login-box" style="margin-top:0;">

            <div class="woocommerce-notices-wrapper"></div>

            <h2>로그인</h2>
            <!--------------------- 로그인 박스 영역 ------------------------->
            <form class="woocommerce-form woocommerce-form-login login" method="post">

                <!-- 로그인 시 아이디,이메일주소 부분 영역-->
                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                    <!-- 로그인 시 아이디,이메일주소 label-->
                    <label for="username">아이디 또는 이메일 주소<br><span class="required">*</span></label>
                    <!-- 로그인 시 아이디,이메일 주소 입력 란 -->
                    <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="username"
                           id="username" autocomplete="username" value="">
                </p><br>

                <!-- 로그인 시 비밀번호 입력 부분 영역 -->
                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                    <!-- 로그인 시 비밀번호 입력 label -->
                    <label for="password">비밀번호<br><span class="required">*</span></label>
                    <!-- 로그인 시 비밀번호 입력 란 -->
                    <span class="password-input">
                        <input class="woocommerce-Input woocommerce-Input--text input-text"
                               type="password" name="password" id="password"
                               autocomplete="current-password"><span class="show-password-input"></span>
                    </span>
                </p>

                <!-- 로그인 시 아이디 기억하기 + 로그인 버튼 영역-->
                <p class="form-row">
                    <!-- 로그인 시 아이디 기억하기 체크  -->
                    <label class="woocommerce-form__label woocommerce-form__label-for-checkbox woocommerce-form-login__rememberme">
                        <br><input class="woocommerce-form__input woocommerce-form__input-checkbox" name="rememberme"
                               type="checkbox" id="rememberme" value="forever"> <span>기억하기</span>
                    </label>
                    <input type="hidden" id="woocommerce-login-nonce" name="woocommerce-login-nonce"
                           value="7e62288bb2"><input type="hidden" name="_wp_http_referer" value="/my-account/">

                    <!-- 로그인 button -->
                    <button type="submit" class="woocommerce-button button woocommerce-form-login__submit" name="login"
                            value="로그인">로그인
                    </button>
                </p>

                <!-- 로그인 비밀번호 찾기 영역 ('비밀번호를 잊어버리셨나요?') -->
                <p class="woocommerce-LostPassword lost_password">
                    <a href="http://piknic.kr/my-account/lost-password/">비밀번호를 잊어버리셨나요?</a>
                </p>
            </form><br><br><br>


            <h2 id="registration-title">가입하기</h2>
            <!------------------ 회원가입 박스 영역 ---------------------->
            <form method="post" class="woocommerce-form woocommerce-form-register register">

                <!-- 가입 시 이메일 주소 부분 영역 -->
                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                    <!-- 가입 시 이메일 주소 label -->
                    <label for="reg_email">이메일 주소<br><span class="required">*</span></label>
                    <!-- 가입 시 이메일 주소 입력 란 -->
                    <input type="email" class="woocommerce-Input woocommerce-Input--text input-text" name="email"
                           id="reg_email" autocomplete="email" value=""></p><br>

                <!-- 가입 시 비밀번호 부분 영역  -->
                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                    <!-- 가입 시 비밀번호 label  -->
                    <label for="reg_password">비밀번호<br><span class="required">*</span></label>
                    <!-- 가입 시 비밀번호 입력 란 -->
                    <span class="password-input">
                        <input type="password" class="woocommerce-Input woocommerce-Input--text input-text"
                               name="password" id="reg_password" autocomplete="new-password">
                        <span class="show-password-input"></span>
                    </span>
                </p>


                <!-- 가입하기 button 부분 영역-->
                <p class="woocommerce-FormRow form-row">
                    <input type="hidden" id="woocommerce-register-nonce" name="woocommerce-register-nonce"
                           value="8576e3ca1c"><input type="hidden" name="_wp_http_referer" value="/my-account/">
                    <!-- 가입하기 button -->
                    <button type="submit" class="woocommerce-Button woocommerce-button button woocommerce-form-register__submit"
                            name="register" value="가입하기">가입하기
                    </button>
                </p>


            </form>

        </div>

</div>


</body>
</html>